<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="lukasz_weather_weather_listing_data_source" xsi:type="string">Lukasz\Weather\Model\ResourceModel\Weather\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Lukasz\Weather\Model\ResourceModel\Weather\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">lukasz_weather</argument>
            <argument name="resourceModel" xsi:type="string">Lukasz\Weather\Model\ResourceModel\Weather</argument>
        </arguments>
    </virtualType>
</config>
