<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lukasz_Weather::list"
             title="Weather"
             module="Lukasz_Weather"
             sortOrder="20"
             action="adminhtml/weather"
             resource="Lukasz_Weather::weather"
        />

    </menu>
</config>
